img{
 width: 100%;
}
h2{
   color: #838B8B;
}
header{
	position: fixed;
	width: 960px;
	height:100px;
	top: 0;
	left: 12.6%;
	background-color: white;
}

header  ul{
	float:right;
	padding-top: 40px;
	padding-left: 40px;

}
header  ul li{
	display:inline;
}
header  ul li a{
	text-decoration: none;
	color: #838B8B;
	font-size: 20px;
}
header  ul li a:hover{
	color: #7FFFD4;
}
#hero {
	padding-top: 160px;
	height: 500px;
}
#hero h1{
	text-align: center;
}

footer {
	padding-top: 20px;
	background-color:#838B8B;
}
footer #row1 , #row2 {
	
	border-bottom: dashed;
	border-color: white;
	border-width: 1px;
}
footer ul{
	list-style-type: none;
}
footer ul li a{
	text-decoration: none;
	color: white;
}
footer p{
	padding-top: 20px;
	color: white;
}
footer h1{
	color:white;
	padding-top: 20px;
	padding-left: 30px;
}




